<!DOCTYPE html>
<html>
  <head>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
    rel="stylesheet"/>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <% if(nav == false ){ %>

    <%  }else{  %>

      <div class="w-screen bg-blue-300 px-10 py-3 flex justify-between items-center font-bold text-6xl md:text-2xl lg:text-xl">
        <div class="flex justify-center items-center gap-3">
          <img src="https://static-00.iconduck.com/assets.00/pinterest-icon-2048x2048-d7p0u7c5.png" class="block mx-auto h-16 md:h-12 lg:h-10 w-16 md:w-12 lg:w-10 rounded-full block text-center" >
          <h1>Pintrest</h1>
        </div>
  
        <div class="flex gap-20">
          <a href="/profile">Profile</a>
          <a href="/feed">Feed</a>
          <a class="bg-red-500 px-3 py-1 rounded-lg text-white" href="/logout">Logout</a>
        </div>
  
      </div>
      
    <%  }  %>

    