<% include ./partials/header.ejs %>

<div class="w-screen h-screen bg-blue-100 flex justify-center items-center">

    <div class="w-full">
        <div class="flex justify-center py-16 lg:py-10">
            <h1 class="text-8xl lg:text-5xl font-bold text-Black">Create Your Post</h1>
            <hr class="opacity-20 text-black mt-2">
        </div>
    
        <form action="/createpost" method="post" enctype="multipart/form-data" class="px-16">
            <input class="block text-black font-semibold px-3 mt-10 text-4xl lg:text-2xl" type="file" name="postImg">
    
            <input class="block font-semibold px-3 mt-4 border-2 rounded-md w-full h-16 text-2xl" type="text" name="title" placeholder="Title">
    
            <textarea class="h-60 mt-2 border-2 rounded-md w-full px-3 text-2xl py-2 my-5 mt-7" name="description" placeholder="Description"></textarea>
    
            <input class="block text-white font-semibold px-3 py-2 mt-4 bg-blue-600 rounded-md w-5/12 text-2xl" type="submit" value="Create Post">
    
        </form>
    
    </div>
   
</div>

<% include ./partials/footer.ejs %>