<% include ./partials/header.ejs %>

<div class="w-screen h-screen bg-zinc-400 flex items-center justify-center">

  <div class="w-9/12 lg:w-[30vw] bg-zinc-200 rounded-3xl px-20 py-8 text-3xl lg:text-base">

    <img src="https://static-00.iconduck.com/assets.00/pinterest-icon-2048x2048-d7p0u7c5.png" class="block mx-auto h-20 lg:h-10 w-20 lg:w-10 rounded-full block text-center" >

    <h1 class="text-5xl lg:text-3xl font-bold lg:font-semibold text-center mt-6 lg:mt-4">Sign Up To See More</h1>
    <h3 class="text-center mt-3 lg:mt-1 text-3xl lg:text-base">Discovery starts here</h3>

    <form action="/register" method="post">
      <label class="block mt-10 lg:mt-3 font-semibold lg:font-normal p-1" for="user">Username :</label>
      <input class="block w-full border-zinc-400 border-2 rounded-lg bg-zinc-200 p-3 lg:p-1" type="text" name="username" placeholder="Username">

      <label class="block mt-10 lg:mt-3 font-semibold lg:font-normal p-1" for="name">Name :</label>
      <input class="block w-full border-zinc-400 border-2 rounded-lg bg-zinc-200 p-3 lg:p-1" type="text" name="name" placeholder="Name">

      <label class="block mt-10 lg:mt-3 font-semibold lg:font-normal p-1" for="email">Email :</label>
      <input class="block w-full border-zinc-400 border-2 rounded-lg bg-zinc-200 p-3 lg:p-1" type="text" name="email" placeholder="Email">

      <label class="block mt-10 lg:mt-3 font-semibold lg:font-normal p-1" for="password">Password :</label>
      <input class="block w-full border-zinc-400 border-2 rounded-lg bg-zinc-200 p-3 lg:p-1" type="password" name="password" placeholder="Password">

      <input class="w-full mt-8 lg:mt-5 bg-red-600 py-4 lg:py-2 text-white font-bold rounded-full" type="submit" value="Register">
    </form>

    <p class="text-center text-2xl lg:text-xs mt-9 lg:mt-6">By continuing, you agree to Pinterest's <b>Terms of Service</b>; Opens a new tab and acknowledge you've read our <b>Privacy Policy; Opens a new tab. Notice at collection; Opens a new tab.</b>
    </p>

    <a href="/" class="block text-center text-2xl lg:text-xs mt-9 lg:mt-6 font-semibold">Already a member? <b>Login</b></a>

  </div>

</div>

<% include ./partials/footer.ejs %>
