<% include ./partials/header.ejs %>

<div class="w-screen h-screen bg-zinc-700 px-6 py-5">
    <div class="cards flex flex-wrap gap-10 text-white">

        <% postsWithImages.forEach(function(post){ %>

            <div class="card w-32">
                <div class="h-40 w-full bg-zinc-500 rounded-lg overflow-hidden">
                    <img class="w-full h-full object-cover" src="<%= post.imageBase64 %>" alt="">
                </div>
                <h1 class="inline-block font-bold text-xl"><%=post.title%></h1>
                <h5 class="opacity-95"><%=post.description%></h5>
            </div>

        <% }) %>
        
    </div>
</div>

<% include ./partials/footer.ejs %>